*{
    font-family: 'godofwar';
}
#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('god of war.jpg');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.nav-link{
    color: #F2F3F4;
    &:hover{
        color: #922929;
    }
}

#play{
    padding: 10px ;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: #1B1B1B;
        color: #A9A9A9;
        cursor: pointer;
        font-size: 20px;
    }
    &:active{
        background-color: black;
        color: white;
    }
}
    @font-face {
        font-family: godofwar;
        src: url("../GODOFWAR.TTF");
    }
    #content{
        h1{
            color: #1B1B1B;
        }
    }
.content-para{
    font-size: 20px;
}
#images{
    height: auto;
    min-height: 100vh;
}
.row{
    width: 100%;
    img{
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (min-width: 992px) {
    #row1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
        img{
            margin:  10px;
            width: 33.3%;

        }
    }
}

@media only screen and(max-width:768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            background: rgba( 255, 255, 255, 0.1 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .nav-menu.active {
        left: 0;
    }
    .nav-link{
        color: black;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    #banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('mobile.jpg');
    height: 110vh;
    }
}