* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    //font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #dddddd;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #ff0000;
}
.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #f72f2f;
}
main{
    height: 100vh;
}
#banner{
height: 100vh;
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./p5.jpg');
//background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
p{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5em;
}
}
#hero-text{
    color: white;
    text-align: center;
    font-size: 200%;
}
#play{
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    &:active{
        background-color: black;
        color: white;
    }
    &:hover{
        background-color: black;
        color: white;
    }
}
#content{
    min-height: 100vh;
    height:auto;
    padding: 5em 10em;
    h1{
        text-align: center;
        margin-top: 90px;
    }
}

.content-para{
    line-height: 1.5em;
    margin-top: 20px;
}
#footer{
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    a{
        color: red;
    }
}

#collage{
    min-height: 100vh;
    height: auto;
    //background-color: red;
    margin-top: 50px;
}
.rows{
   // background-color: black;
   // border: 2px solid;
    height: 10%;
    width: 100%;
    margin-bottom: 5px;
    img{
        height: 100%;
        width: 100%;
    }
}

/*Navbar media query*/





@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .nav-menu.active {
        left: 0;
    }
    .nav-link{
        color: black;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

#content{
    padding: 3em;
}
}




@media only screen and (min-width: 1280px){
    #collage{
        min-height: 100vh;
        height: auto;
        //background-color: red;
        margin-top: 90px;
    }
    .rows{
       // background-color: black;
      // border: 2px solid;
        height: 10%;
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        img{
            height: 100%;
            width: 50%;
        }
    }
    #row1{
        align-items: flex-start;
    }
    #row2{
        justify-content: flex-end;
    }
    #row3{
        align-items: flex-start;
    }
    #row4{
        justify-content: flex-end;
    }
    #row5{
        align-items: flex-start;
    }
    #row6{
        justify-content: flex-end;
    }
    #row7{
        align-items: flex-start;
    }
    #row8{
        justify-content: flex-end;
    }
}